.alldiv{
    display: flex;
    margin: 10px;
    flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

}
.alldiv::-webkit-scrollbar {
    overflow: hidden;
}

#myNavBar
{
    color:white;
    font-size: 15px;
    font-weight: 400;
}

.NavBar
{
    margin-top: -1.5%;
}
.mylogo
{
    height: 60px;
    width: 135px;
}
#navbarNav
{
    margin-left: -25px;
}
.Netflixoriginalimage, .trendingoriginalimage, .actionMoviesimage, .horrorMoviesimage, .topratedimage
{
    height: 140px;
    width: 150px;
    

}
.topratedimage:hover
{
    transform: scale(1.4); 
    transition-property: transform;
    transition-duration: 0.5s;
}
.Netflixoriginalimage:hover
{
    transform: scale(1.4); 
    transition-property: transform;
    transition-duration: 0.5s;
}
.trendingoriginalimage:hover
{
    transform: scale(1.4); 
    transition-property: transform;
    transition-duration: 0.5s;
}
.actionMoviesimage:hover
{
    transform: scale(1.4); 
    transition-property: transform;
    transition-duration: 0.5s;
}
.horrorMoviesimage:hover{
    transform: scale(1.4); 
    transition-property: transform;
    transition-duration:  0.5s;
}
.netflixalldiv, .trendingalldiv, .actionMoviesdiv, .horrorMoviesdiv, .toprateddiv
{
    display: flex;
}
.Netflixoriginaldiv, .trendingoriginaldiv, .actionMoviesdiv, .horrorMoviesdiv, .toprateddiv
{
    margin-left: 10px;
}
body{
    background-color: black;
    margin: 20px;
}
h1{
    font-size: 22px;
    font-weight: 900px;
    color:white;
}
#myNavbar
{
    color:white;
    font-size: 18px;
    font-weight: 800px;
}
.myLargeImage
{
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    position:relative;
}
h2{
    color:white;
    font-size: 2vw;
    top:18vw;
    font-weight: 500;
    position: absolute;
    text-transform: uppercase;
    left:40px;
}
p{
    position:absolute;
    color:white;
    font-size: 1vw;
    font-weight: 500;
    width: 400px;
    position:absolute;
    top:20.5vw;
    left:40px;

}
